.hello {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 5rem;
  color: darkorange;
  font-weight: bold;
}

.logoSB {
  width:100%;
  height:200px;
  background:url('./logo-solbooking-big.png') no-repeat;
}